<div class="divContainer">
    <section>
        <div>
            <img src="../../assets/images/phonebook.png" alt="" height="100%" width="7%">
            <h1>Phone Book App</h1>
        </div>
        <div class="divContain">
            <p class="p1">
               <b>Contacts</b>
            </p>
            <p class="p2">
                <button class="btn btn-primary">+Add Contact</button>
            </p>
        </div>
        <span class="fa fa-search form-control-feedback"></span>
        <input  type="text" name="" id="" class="form-control" placeholder="Search by name..."> 
        <section>
            <div class="form-control bg">
                <p class="p1">
                   <b>Contacasvavsasvas;vkasn;vs</b>
                </p>
                <p class="p2">
                    <button class="btn btn-primary">+Add Contact</button>
                </p>
                <hr/>
            </div>
            <div class="form-control bg">
                <p class="p1">
                   <b>Contacasvavsasvas;vkasn;vs</b>
                </p>
                <p class="p2">
                    <button class="btn btn-primary">+Add Contact</button>
                </p>
            </div>
        </section>
    </section>
</div>